---
// index.astro
import { notFound } from "astro:i18n";
import Layout from "../Layouts/Layout.astro";
import LayoutMaintanece from "../Layouts/LayoutMaintanece.astro";

const SITE_PUBLISHED = import.meta.env.SITE_PUBLISHED==='Y' || false;

console.log({SITE_PUBLISHED});
---
{(SITE_PUBLISHED) ? 
	(
		<Layout title="Astro">
			<h1>Astro1</h1>
		</Layout>
	): 
	(
		<LayoutMaintanece title="Astro">
			<h1>Astro1</h1>
		</LayoutMaintanece>
	)
}
