---
// Footer.astro
---
<footer>
    <a href="tel:+584163378541"><img src="/images/cellphone.webp" alt="Bien Común"  class="m-2 w-8" /></a>
    <div class="info">
        <div class="info">SOLICITE ASESORÍA SOLO POR EL WHATSAPP MASTER.</div>
        <div class="info">+584163378541</div>
        <div class="info">ÚNETE HOY A NUESTRO EQUIPO DE CONSUMO.SI PAGAS PRIMERO, RECIBES EN 45 DÍAS HÁBILES, PREGUNTA POR LA PRÓXIMA CARRERA DE POSICIONES</div>
    </div>
</footer>
<style>
    footer { 
        bottom: 0;
        position: absolute;
        height: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
    div.info {
        font-size: small;
        font-weight: 700; 
        color: #c21807;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: white;
    }
</style>