---
// Layout.astro
import '@fontsource/poppins/400.css';
import '@fontsource/poppins/700.css';

import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

---

  <html lang="es">
	<head>
    <BaseHead title = "Bien Comun" description="description" />
	</head>
	<body>
        <main class="maintanece">
            <div class="header">
                <Header title="PÁGINA EN CONSTRUCCIÓN" />
            </div>
            <h2 class="slogan">
                <span>EN DIOS HAREMOS</span>
                <span>PROEZAS</span>
                <span>SALMOS 60:12</span>
            </h2>
            <Footer>
        </main>
  </body>
</html>
<style>
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-image: linear-gradient(190deg,
        hsl(240deg 10% 90%) 0%,
        hsl(240deg 9% 91%) 22%,
        hsl(240deg 9% 91%) 34%,
        hsl(240deg 5% 92%) 43%,
        hsl(240deg 5% 92%) 50%,
        hsl(240deg 5% 93%) 56%,
        hsl(240deg 3% 93%) 63%,
        hsl(240deg 3% 94%) 70%,
        hsl(0deg 0% 94%) 81%,
        hsl(0deg 0% 95%) 100%
        );
        height: 100vh;
        width: 100vw;
    }
    main.maintanece {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        color: gray; 
        height: 100vh;
        width: 86vw;
        position: relative;
    }
    .header { 
        top: 5vh;
        position: absolute;
        font-size: xx-large; 
        font-weight: 900; 
        color: #c21807;
        width: inherit;
    }
    h2.slogan  {
        position: absolute;
        border: 10px solid #1c2739;
        border-radius: 30px;
        padding: 25px 40px 25px 40px;

        background-color: whitesmoke;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        opacity: 0.1;
    }
    h2.slogan span {
        font-size: x-large;
        font-weight: 900;
        color: #1c2739;
        opacity: 0.5;
    }    
</style>